/* styles.css */
.custom-button {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the width of the button fit the text */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 12px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.custom-button:hover {
    background-color: #45a049; /* Darker green on hover */
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
